/********************************************************* custom defaults */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  font-style: normal;
  cursor: default;
}

/********************************************************* navbar */
.nav-bg {
  width: 100%;
  height: 70px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav-bg img {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  width: 30%;
  max-width: 100px;
}

/********************************************************* hero area */
.gallery-img {
  display: block;
  margin: 2rem auto;
  width: 90%;
  max-width: 800px;
}

.title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 110%;
  color: #000;
  margin-left: 1rem;
}

.title-para {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 110%;
  color: #222;
  margin: 1rem;
}

/********************************************************* adverts */
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

.flex-container section {
  margin: 0 0.2rem;
}

.poster-img-container {
  position: relative;
}

.advert-img {
  width: 20rem;
  height: 25rem;
  border-radius: 1rem;
}

.sold-status {
  position: absolute;
  top: 0.8rem;
  left: 1.4rem;
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 0.3rem;
  text-align: center;
  font-weight: bold;
  width: 7rem;
  font-size: 1.3rem;
}

.ad-info-custom-defaults {
  line-height: 145%;
  font-size: 1.5rem;
}

.star-rating-img {
  width: 1rem;
  margin-right: 0.2rem;
}

.rating span {
  color: #918e9b;
  margin-left: 0.2rem;
}

.lesson-name {
  font-weight: 300;
  line-height: 145%;
  color: #222222;
  font-size: 1.2rem;
}

.price {
  margin-bottom: 1rem;
}
