/********************************************************* custom defaults */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  font-style: normal;
  cursor: default;
}

/********************************************************* navbar */
.nav-bg {
  width: 100%;
  height: 70px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav-bg img {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  width: 30%;
  max-width: 100px;
}

/********************************************************* hero area */
.gallery-img {
  display: block;
  margin: 2rem auto;
  width: 90%;
  max-width: 800px;
}

.title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 110%;
  color: #000;
  margin-left: 1rem;
}

.title-para {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 110%;
  color: #222;
  margin: 1rem;
}

/********************************************************* lesson adverts */
.advert-img {
  display: block;
  margin: 2rem auto 0;
  width: 90%;
  max-width: 300px;
  position: relative;
  height: auto;
}

.sold-status {
  position: absolute;
  bottom: 15%;
  left: 9%;
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 0.3rem;
  text-align: center;
  font-weight: bold;
  width: 7rem;
  max-width: 610px;
}

.rating {
  margin: 2rem auto 0;
}
